
<%= simple_form_for(@issue_management) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :issue_title %>
    <%= f.input :description %>
    <%= f.input :completion_rate %>
    <%= f.input :person_id %>
    <%= f.input :user_id %>
    <%= f.input :completion_target_date %>
    <%= f.input :completion_actual_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
