<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory:</strong>
  <%= @comment.inventory_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Commentary:</strong>
  <%= @comment.commentary %>
</p>

<p>
  <strong>Person:</strong>
  <%= @comment.person_id %>
</p>

<p>
  <strong>Cashflow:</strong>
  <%= @comment.cashflow_id %>
</p>

<p>
  <strong>Saving:</strong>
  <%= @comment.saving_id %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @comment.delivery_id %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @comment.budget_id %>
</p>

<p>
  <strong>Issue management:</strong>
  <%= @comment.issue_management_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
