<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Fullname</th>
      <th>Active</th>
      <th>Dob</th>
      <th>Person number</th>
      <th>Pps number</th>
      <th>System item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.surname %></td>
        <td><%= person.fullname %></td>
        <td><%= person.active %></td>
        <td><%= person.dob %></td>
        <td><%= person.person_number %></td>
        <td><%= person.pps_number %></td>
        <td><%= person.system_item %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
