
<%= simple_form_for(@loan_registration) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :financialinstitution_id %>
    <%= f.input :loan_type %>
    <%= f.input :loan_term %>
    <%= f.input :rationale %>
    <%= f.input :amount %>
    <%= f.input :loan_reference %>
    <%= f.input :drawdown_date %>
    <%= f.input :final_payment_date %>
    <%= f.input :final_payment_date %>
    <%= f.input :user_id %>
    <%= f.input :person_id %>
    <%= f.input :internal_loan %>
    <%= f.input :outstanding %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
