
<%= simple_form_for(@service_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ticket_number %>
    <%= f.input :request_type_id %>
    <%= f.input :tech_service_id %>
    <%= f.input :problem_description %>
    <%= f.input :request_status_id %>
    <%= f.input :case_notes %>
    <%= f.input :case_resolution %>
    <%= f.input :resolved %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
