<p id="notice"><%= notice %></p>

<p>
  <strong>Trans date:</strong>
  <%= @legacy_ulsterbank.trans_date %>
</p>

<p>
  <strong>Trans type:</strong>
  <%= @legacy_ulsterbank.trans_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @legacy_ulsterbank.description %>
</p>

<p>
  <strong>Trans value:</strong>
  <%= @legacy_ulsterbank.trans_value %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @legacy_ulsterbank.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @legacy_ulsterbank.account_number %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @legacy_ulsterbank.account_name %>
</p>

<%= link_to 'Edit', edit_legacy_ulsterbank_path(@legacy_ulsterbank) %> |
<%= link_to 'Back', legacy_ulsterbanks_path %>
