
<%= simple_form_for(@loan_management) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :year %>
    <%= f.input :month %>
    <%= f.input :loan_registration_id %>
    <%= f.input :payment_date %>
    <%= f.input :amount %>
    <%= f.input :note %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
