
<%= simple_form_for(@client_record) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :virtual %>
    <%= f.input :operating_system_id %>
    <%= f.input :person_id %>
    <%= f.input :deployment_date %>
    <%= f.input :notes %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
