<p id="notice"><%= notice %></p>

<h1>Inflowtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>System item</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inflowtypes.each do |inflowtype| %>
      <tr>
        <td><%= inflowtype.name %></td>
        <td><%= inflowtype.description %></td>
        <td><%= inflowtype.system_item %></td>
        <td><%= inflowtype.active %></td>
        <td><%= link_to 'Show', inflowtype %></td>
        <td><%= link_to 'Edit', edit_inflowtype_path(inflowtype) %></td>
        <td><%= link_to 'Destroy', inflowtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inflowtype', new_inflowtype_path %>
