<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @address.active %>
</p>

<p>
  <strong>Person:</strong>
  <%= @address.person_id %>
</p>

<p>
  <strong>From:</strong>
  <%= @address.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @address.to %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
