<p id="notice"><%= notice %></p>

<h1>Rent Managements</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Amount</th>
      <th>Date collected</th>
      <th>Details</th>
      <th>Collected by</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_managements.each do |rent_management| %>
      <tr>
        <td><%= rent_management.year %></td>
        <td><%= rent_management.month %></td>
        <td><%= rent_management.amount %></td>
        <td><%= rent_management.date_collected %></td>
        <td><%= rent_management.details %></td>
        <td><%= rent_management.collected_by %></td>
        <td><%= rent_management.user_id %></td>
        <td><%= link_to 'Show', rent_management %></td>
        <td><%= link_to 'Edit', edit_rent_management_path(rent_management) %></td>
        <td><%= link_to 'Destroy', rent_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent Management', new_rent_management_path %>
