
<%= simple_form_for(@inflow) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :details %>
    <%= f.input :user_id %>
    <%= f.input :cashflow_id %>
    <%= f.input :year %>
    <%= f.input :month %>
    <%= f.input :person_id %>
    <%= f.input :inflowtype_id %>
    <%= f.input :date_posted %>
    <%= f.input :rationale %>
    <%= f.input :bankaccount_id %>
    <%= f.input :follow_up %>
    <%= f.input :picture %>
    <%= f.input :attachment %>
    <%= f.input :flowtype %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
