<p id="notice"><%= notice %></p>

<h1>Plannedactivities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Activity date</th>
      <th>Target amount</th>
      <th>User</th>
      <th>Person</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plannedactivities.each do |plannedactivity| %>
      <tr>
        <td><%= plannedactivity.name %></td>
        <td><%= plannedactivity.description %></td>
        <td><%= plannedactivity.activity_date %></td>
        <td><%= plannedactivity.target_amount %></td>
        <td><%= plannedactivity.user_id %></td>
        <td><%= plannedactivity.person_id %></td>
        <td><%= plannedactivity.active %></td>
        <td><%= link_to 'Show', plannedactivity %></td>
        <td><%= link_to 'Edit', edit_plannedactivity_path(plannedactivity) %></td>
        <td><%= link_to 'Destroy', plannedactivity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plannedactivity', new_plannedactivity_path %>
